*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-color: whitesmoke;
}

h1,h2,h3{
    color:blue;
    font-size: 40px;
}
#para1{
    color:red;
    font-weight: 700;
    font-size: large;
}
#para2,#para1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#para2{
  color:brown;
  font-size:large;
}
.list{
    color:red;
    font-style: oblique;
    font-size: large;
    border:1px solid black
}